 @font-face {
font-family: 'opensans';
font-style: normal;
font-weight: normal;
src: local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
font-family: 'roboto';
font-style: normal;
font-weight: normal;
src: local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('ttf');
}


@font-face {
font-family: 'proxima';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Regular'), url('../fonts/Mark Simonson - Proxima Nova Regular.woff') format('woff');
}


body,html{
	margin:0%;
	height:auto;
	font-family:'proxima';
	overflow-x: hidden;  
}

#balr{
	margin-left:15px;
	margin-right:15px;
}

#balc{
	padding-left:-15px;
	padding-right:-15px;
}

.text{
	font-family:'proxima';
}

body{
	/*background:url(../images/background.jpg) 1400px 900px;*/
	background-color:#ffffff;
	opacity:0.9;
	z-index:-1;
}

.main{
	/*width:100%;*/
	height:100%;
	z-index:-2;

}

#vido{
	width:101%;
	height:100%;
	z-index:-1;
}


.load {
  /*background-color:#ffffff;*/
  background:url(../images/loading.gif);
  height: 102%; 
  width: 100%;
  position: fixed;
  z-index: 100; 
}


#landing{
	overflow-y:hidden; 
	width:100%;
	height:100%;
	z-index:1;
}

.opacity{
	opacity:0;
}

.show{
	visibility:visible;
}

.hide{
	visibility:hidden;
}

#svg{
	width:100%;
	height:1025px;

}

#az{
	z-index:2;
	margin-left:6%;
	margin-top:18%;
	position:fixed;
}

#magic{
	width: 3141.8px;
	height: 3141.8px;
	top: -1571.9px;
	left: -887.9px;
	display: block;
	position:absolute;
}

#arrow{
	position:absolute;
	background: transparent url(../images/arrow.gif) center center no-repeat;
	background-size: 96px 128px;
	width: 48px;
	height:150%;
	display: inline-block;
	overflow:hidden;
	margin: 0 auto;
	z-index: 2;
	margin-top:10%;
	margin-left:646px;
}

#text0{
	margin-top:60%;
	margin-left:6%;
	z-index:2;
	position:absolute;
	font-size:35px;
	color:#ffffff;
	font-family:'proxima';
}

#text1{
	color:#303e3f;
	font-size:35px;
	margin-left:65%;
	margin-top:25%;
	opacity:1;	
	z-index:-1;
	position:fixed;
	text-align:right;
	font-family:'proxima';
}

#text1a{
	color:#303e3f;
	font-size:45px;
	margin-left:57%;
	margin-top:21.6%;
	font-weight:700;
	opacity:1;	
	z-index:-1;
	position:fixed;
	text-align:right;
	font-family:'proxima';

}

#kick{
	/*background-color:#FFFFFF;*/
	opacity:0.99;
}

#cap{
	width:40%;
	height:95%;
	margin-left:81.8%;
	margin-top:0.2%;
	z-index:9;
	position:absolute;
	background:url(../images/cap.png) no-repeat;
}
 /*header css*/
.header{
	width:100%;
	color:#ffffff;
	font-size:21px;
	z-index:10;
	opacity:1;
	position:fixed;
	font-family:'proxima';

}

.lines{
	width:6%;
	height:1%;
	background:#ffffff;
	border:2px solid #ffffff;
	margin-left:29.4%;
	margin-top:0.5%;
	position:absolute;
}

.priheader{
	height:75%;
	background-color:#2c4041;
	border-bottom:2px solid #000;
	box-shadow: 2px 20px 20px #000000;
}

#logo{
	margin-top:-0.5%;
	position:absolute;
	z-index:10;
}

.menu{
	width:60%;
}

ul.menu{
	font-size:21px;
	list-style-type:none;
	text-transform:bold;
	padding:1%;
	margin-top:-0.5%;
	margin-left:28%;
}

ul.menu li {
    float: left;
    padding:1.1%;
}

ul.menu li:hover{
	color:#000405;
}

ul.menu a:active{
	text-decoration:underline;
}

ul.menu a:link, a:visited {
    display: block;
    color:#FFFFFF;
    text-decoration: bold;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

a:link{
	color:#ffffff;
	text-decoration:none;
}

ul.iit{
	margin-left:88%;
	margin-top:-1.5%;
	position:absolute;
}

.secheader{
	margin-top:0%;
	background-color:#2c4041;
	color:#ffffff;
	border-bottom:0.1px #2c4041;
}

ul.newlink{
	width:63%;
	font-size:19px;
	margin-left:24.5%;
	list-style-type:none;
}

ul.newlink li{
	margin-left:4%;
	float: left;
	padding:1%;
    margin-top:-0.8%;
}

ul.publi{
	width:20%;
	margin-left:87.5%;
	margin-top:0.4%;
}

ul.publi li{
	margin-top:0.4%;
}

.about{
	position:absolute;
	z-index:2;
	margin-top:45%;
	font-size:29px;
	/*opacity:0;*/
	color:#FFFFFF;
	font-family:'proxima';

}

#image1{
	margin-left:-15px;
	margin-right:-15px;
	height:611px;
	position:relative;
	margin-top:-10px;
	z-index:-3;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	/*background: url(../images/theme.jpg);*/
}

/*theme content is over here */

#theme{
	margin-left:-15px;
	margin-right:-15px;
	width:100%;
	height:95%;
	z-index:1;
	position:relative;
	background-color:#fff;
	opacity:1;
}


#image2{
	width:100%;
	height:100%;
	z-index:-3;
	position:relative;
	margin-top:-45%;
}

#a{
  margin-left:37%;
  position:absolute;
  margin-top:0%;
  z-index:-3; 
}

#b{
  margin-left:53%;
  position:absolute;
  margin-top:0%;
  z-index:-3;
}

#c{
  margin-top:14%;
  margin-left:29%;
  position:absolute;
}

#d{
  margin-top:14%;
  margin-left:61%;
  position:absolute;
}

#e{
  margin-left:37%;
  position:absolute;
   margin-top:28%;
}

#f{ 
  margin-left:53%;
  position:absolute;
  margin-top:28%;
}

#g{
  margin-left:45%;
  position:absolute;
  margin-top:14%;
  z-index:2;
}



img.bw{ 
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(100%);
	 filter: grayscale(1);

}



/*Competitons*/

#competitions{
	margin-left:-15px;
	margin-right:-15px;
	padding-left:15px; 
	padding-right:15px;
	position:relative;
	margin-top:100%;
	z-index:3;
	background-color:#486869;
}

#compimage{
	margin-top:15%;
	margin-left:39%;

}

#compet9{
	background-color:#ffffff;
}

#compename{
	color:#ffffff;
	margin-top:5%;
	text-align:center;
	font-size:22px;
	font-weight:bold;
	font-family:'proxima';
}

#compedesc{
	color:#ffffff;
	text-align:center;
	font-size:19px;
	margin-top:5%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:10%;
	font-family:'proxima';
}

/*
#chem-e-car, #poster, #dsi, #idp{
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}

#qvizit{
	border-bottom:1px solid #ffffff;
}

#cipher, #chem-e-timer, #chem-o-phsilia, #themebased{
	border-right:1px solid #ffffff;
}

#comsole{
}*/


/*sponsors page content here */
#sponsor{
	height:85%;
	position:relative;
	margin-top:-58%;
	background-color:#ffffff;
	z-index:1;
}

#text3{
	text-align:center;
	padding-top:6%;
	font-size:33px;
	color:#415063;
}

#text3_1{
	margin-left:43.5%;
	padding-top:1%;
	font-size:25px;
	color:red;
}

#reliance{
	margin-top:3%;
	margin-left:7%;
	width:98px;
	height:68px;
	position:absolute;
	
}

#ongc{
	margin-top:3.5%;
	margin-left:22%;
	width:60px;
	height:60px;
	position:absolute;
}

#tata{
	margin-top:2.5%;
	margin-left:45%;
	width:217px;
	height:93px;
	position:absolute;
}

#lnt{
	margin-top:2.5%;
	margin-left:67%;
	width:75px;
	height:75px;
	position:absolute;
}

#basf{
	margin-top:3%;
	margin-left:80%;
	width:150px;
	height:69px;
	position:absolute;
}

/* second row */

#mersen{
	margin-top:13%;
	margin-left:3%;
	width:195px;
	height:60px;
	position:absolute;
}

#fenix{
	margin-top:2.3%;
	margin-left:34%;
	width:67px;
	height:90px;
	position:absolute;
}

#newreka{
	margin-left:36%;
	margin-top:23%;
	width:96px;
	height:111px;
	position:absolute;
}

#hp{
	margin-top:13.4%;
	margin-left:68%;
	width:80px;
	height:75px;
	position:absolute;
}

#organo{
	margin-top:13%;
	margin-left:82%;
	width:110px;
	height:78px;
	position:absolute;
}

/* Third Row */

#steam{
	margin-left:6%;
	margin-top:24%;
	width:156px;
	height:75px;
	position:absolute;
}

#bayer{
	margin-left:23%;
	margin-top:24%;
	width:75px;
	height:75px;
	position:absolute;
}

#comsol{
	width:20%;
	height:20%;
	position:absolute;
}

#aspen{
	margin-left:50%;
	margin-top:25%;
	width:180px;
	height:57px;
	position:absolute;
}

#cew{
	margin-left:80%;
	margin-top:26%;
	width:176px;
	height:38px;
	position:absolute;
}

/* Fourth Row */

#gil{
	margin-left:53%;
	margin-top:25.5%;
	width:273px;
	height:50px;
	position:absolute;
}

#ionex{
	margin-top:14.5%;
	margin-left:22%;
	width:225px;
	height:55px;
	position:absolute;
}

#monarch{
	margin-top:12.4%;
	margin-left:44%;
	width:267.5px;
	height:90px;
	position:absolute;
}





/*contact page content here */


#contacts{
	height:280%;
	margin-top:15%;
	background-color:#ffffff; 
	position:relative;
	opacity:1;
	z-index:-2;
}

#image3{
	width:101%;
	height:90%;
	position:relative;
	margin-left:-1%;
	margin-top:90%;
	z-index:-3;
	background: url(../images/image3.jpg);
}

#text4{
	margin-left:40%;
	padding-top:2%;
	font-size:30px;
}

#pub{
	margin-left:20%;
	margin-top:20%;
}

#pub1{
	width:150px;
	height:150px;
	margin-left:29%;
	margin-top:1%;
	background: url(../images/contacts/ankit.jpg) no-repeat;
	position:absolute;
}

#pub2{
	width:150px;
	height:150px;
	margin-left:43%;
	margin-top:1%;
	background: url(../images/contacts/shreya.jpg) no-repeat;
	position:absolute;
}

#pub3{
	width:150px;
	height:150px;
	margin-left:57%;
	margin-top:1%;
	background: url(../images/contacts/arjun.jpg) no-repeat;
	position:absolute;
}

#com{
	margin-left:42%;
	margin-top:20%;
}

#com1{
	width:150px;
	height:150px;
	margin-left:29%;
	margin-top:1%;
	background: url(../images/contacts/chavare.jpg) no-repeat;
	position:absolute;

}

#com2{
	width:150px;
	height:150px;
	margin-left:43%;
	margin-top:1%;
	background: url(../images/contacts/chafle.jpg) no-repeat;
	position:absolute;
}

#com3{
	width:150px;
	height:150px;
	margin-left:57%;
	margin-top:1%;
	background: url(../images/contacts/jyot.jpg) no-repeat;
	position:absolute;
}

#evt{
	margin-left:46%;
	margin-top:20%;
}

#evt1{
	width:150px;
	height:150px;
	margin-left:29%;
	margin-top:1%;
	background: url(../images/contacts/deeksha.jpg) no-repeat ;
	position:absolute;
}

#evt2{
	width:150px;
	height:150px;
	margin-left:43%;
	margin-top:1%;
	background: url(../images/contacts/gawande.jpg) no-repeat;
	position:absolute;
}

#evt3{
	width:150px;
	height:150px;
	margin-left:57%;
	margin-top:1%;
	background: url(../images/contacts/madhu.jpg) no-repeat;
	position:absolute;
}

#mar{
	margin-left:39%;
	margin-top:20%;
}

#mkt1{
	width:200px;
	height:200px;
	margin-left:29%;
	margin-top:1%;
	background: url(../images/contacts/utk.jpg) no-repeat;
	position:absolute;
}

#mkt2{
	width:150px;
	height:150px;
	margin-left:43%;
	margin-top:1%;
	background: url(../images/contacts/neelu.jpg) no-repeat;
	position:absolute;
}


#mkt3{
	width:150px;
	height:150px;
	margin-left:57%;
	margin-top:1%;
	background: url(../images/contacts/sid.jpg) no-repeat;
	position:absolute;
}

#WnD{
	margin-left:42%;
	margin-top:20%;
}

#web{
	width:150px;
	height:150px;
	margin-left:36%;
	margin-top:1%;
	background: url(../images/contacts/jiten.jpg) no-repeat;
	position:absolute;
}


#des{
	width:150px;
	height:150px;
	margin-left:50%;
	margin-top:1%;
	background: url(../images/contacts/ashish.jpg) no-repeat;
	position:absolute;
}

#oc{
	margin-left:38%;
	margin-top:5%;
}


#oc1{
	width:150px;
	height:150px;
	margin-left:36%;
	margin-top:1%;
	background: url(../images/contacts/akshat.jpg) no-repeat;
	position:absolute;
}

#oc2{
	width:150px;
	height:150px;
	margin-left:50%;
	margin-top:1%;
	background: url(../images/contacts/anamika.jpg) no-repeat;
	position:absolute;
}

.item{
	text-align:center;
	float:left;
	margin:0px;
	position:relative;			
}
		
.item,
.item-hover,
.item-hover .mask,
.item-img,
.item-info{
	width: 150px;
	height: 150px;	
}

.item-hover,
.item-hover .mask,
.item-img { 
	position:absolute;
	top:0;
	left:0;			
}			

.item-type-line .item-hover {	
	z-index:1;	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;	
	opacity:0;
	margin:0px;
	cursor:pointer;						
	display:block;
	text-decoration:none;
	text-align:center;
}

.item-type-line .item-info {
	color:#ffffff;
	display:table-cell;
	vertical-align:middle;
	position:absolute;
	z-index:1;				 					
}

.headline{
	margin-top:70px;
	text-decoration:bold;
}

.item-type-line .item-info .headline .date .email {
	font-size:10px;					
}

.item-type-line .item-info .line {
	 height:1px;
	 width:60%;
	 margin:4px auto;
	 margin-left:20%;
	 background-color:#ffffff;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;					 

}

.email{
	font-size:12px;
}

.item-type-line .item-info .date {
	font-size:12px;
	margin-top:3px;
}

.item-type-line .item-hover .mask {
	background-color:#000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);										
	opacity:0.5;
	z-index:0;
}

.item-type-line .item-hover:hover 
{
	width:60%;
	
}

.item-type-line .item-hover:hover {
	opacity:1;
}				

.item-img {			
background-color:#7a548f;
z-index:0;			
}

#footer{
	padding-left:15px; 
	padding-right:15px;
	margin-left:-15px;
	margin-right:-15px;
	background-color:#2c4041;
	height:3.9%;
	margin-top:-40%;
	position:relative;
	z-index:3;
}

#text5{
	margin-left:41%;
	z-index:5;
	font-size:18px;
	color:#ffffff;
}
/*animation over here */
