body{
  width:100%;
  height:100%;
}

#theme{ 
  -ms-transform: translate(50px,100px); /* IE 9 */
    -webkit-transform: translate(50px,100px); /* Chrome, Safari, Opera */
    transform: translate(50px,100px); /* Standard syntax */
}

.move{
  transform:translate(58px,78px);
}

#a{
  margin-left:31.11%;
  position:absolute;
  margin-top:2%;
  background:url(../images/9.png);
  z-index:2; 
  width:22%;
  height:50%;
}

#b{
  margin-left:48.667%;
  position:absolute;
  margin-top:2%;
  z-index:2;
  transform:translate(-53px,77px);
}

#c{
  margin-top:16%;
  margin-left:22.11%;
  position:relative;
  transform:translate(120px,1px);
}

#d{
  margin-top:16%;
  margin-left:-2.89%;
  position:relative;
  transform:translate(-119px,-1px);
}

#e{
  margin-left:31.11%;
  position:relative;
   margin-top:0%;
   transform:translate(63px,-93px);
}

#f{ 
  margin-left:-2.89%;
  position:relative;
  margin-top:0%;
  transform:translate(-56px,-94px);
}

#g{
  margin-left:-2.89%;
  position:relative;
  margin-top:16%;
  position:fixed;
}

#header{
  
}

.animate{
  -webkit-animation: converge 5s;  /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
    animation: converge 5s;
    animation-timing-function: linear;
}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes converge {
    from {x}
    to {background: yellow;}
}

/* Standard syntax */
@keyframes converge {
    from {background: red;}
    to {background: yellow;}
}